<h2 class="text-xl font-bold my-5 mx-auto w-full max-w-screen-xl pl-4 xl:pl-0">Our Menu</h2>
<div class="grid grid-cols-2 md:grid-cols-3 gap-6 mx-auto w-full max-w-screen-xl">
    <% menus.forEach(menu => { %>
        <a href="/menu/<%= menu._id %>">
            <div class="border rounded-lg p-4 bg-white shadow hover:shadow-lg transition duration-300">
                <img src="<%= menu.image %>" alt="<%= menu.name %>" class="w-full h-48 object-cover rounded-md mb-4">
                <h3 class="text-lg font-semibold mb-2"><%= menu.name %></h3>
                <p class="text-sm text-gray-600 mb-4"><%= menu.description %></p>
                <p class="text-xl font-bold text-gray-800">$<%= menu.price %></p>
            </div>
        </a>
    <% }) %>
</div>
