<div class="container mx-auto py-5">
    <h1 class="text-2xl font-bold mb-4">Order List</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% orders.forEach(order => { %>
        <div class="bg-white p-4 rounded shadow-md">
            <p class="font-semibold mb-2">Order ID: <%= order._id %></p>
            <p><span>Created At:</span> <%= new Date(order.createdAt).toLocaleDateString('id-ID', { day: '2-digit', month: 'long', year: 'numeric' }) %>, <%= new Date(order.createdAt).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit' }) %> WIB</p>
            <p><span>Customer Name:</span> <%= order.customerName %></p>
            <p><span>Menu Name:</span> <%= order.menuDetails.name %></p>
            <p><span>Description:</span> <%= order.menuDetails.description %></p>
            <p><span>Price:</span> Rp<%= order.menuDetails.price %></p>
            <p><span>Quantity:</span> <%= order.quantity %></p>
            <p><strong>Total Price:</strong> Rp<%= (parseInt(order.menuDetails.price.replace(/\./g, '')) * order.quantity).toLocaleString('id-ID') %></p>
            <p><span>Status:</span> <%= order.status %></p>
            <img src="<%= order.menuDetails.image %>" alt="<%= order.menuDetails.name %>" class="w-full h-64 object-cover rounded mt-2">
        </div>
        <% }); %>
    </div>
</div>